.vs
.sln
.vcxproj

ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj.user

Diode.vcxproj
Diode.vcxproj.filters
Diode.vcxproj.user

Diode.sln
Diode.txt

CMakeFiles
CMakeCache.txt
cmake_install.cmake

INSTALL.vcxproj
INSTALL.vcxproj.filters
INSTALL.vcxproj.user

ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters

glew
glfw
glm

Debug
Release

lib
MasterPlan